<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-push-1">
      <h2 class="intro">
        Welcome to <b>Blocmarks</b>
        — A place to list your favorite bookmarks by categories. Find the best bookmarks from the internet.
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h1>Blocmarks</h1>
      <h3 class="tagline">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h3>

      <div class="buttons">
        <%= link_to "Register", new_user_registration_path, class: 'btn btn-primary btn-lg' %>
        <%= link_to "Sign in", new_user_session_path, class: 'btn btn-success btn-lg' %>
      </div>
    </div>
    <div class="col-md-5">
      <%= image_tag "ss.png", class: "thumbnail img-responsive" %>
    </div>
  </div>
</div>
